
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #FFFACD;
    background-image: linear-gradient(to bottom, #FFFACD, #FFD700);
    font-size: 62.5%;
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
}

.mainflexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top {
    padding: 300%;

}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    padding: 200%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    padding: 100%;

}

h3 {
    font-size: 120%;
    padding: 100%;
}



.happiness {
    background-color: white;
    padding: 300%;  
    margin: 100%;
    font-size: 80%;
    border: 2px solid rgb(110, 94, 50);
    border-radius: 20px;
}

.image {
    float: right;
    padding-top: 100%;  
    padding-left: 100%;
} 

img {
    border-radius: 20px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    padding: 100%;
}

p {
    padding: 100%;
}

.course {
    background-color: white;
    padding: 300%;  
    margin: 100%;
    border: 2px solid rgb(110, 94, 50);
    border-radius: 20px;
}


.photo {
    float: right;
    padding: 100%;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.whatsapp, .inst {
    background-repeat: no-repeat;
    padding: 100%;
    margin: 300%;

}

.footer img {
    float: left;
}

a {
    text-decoration: none;
    color: white;
    padding: 100%;
    font-size: 200%;
}

a:hover {
text-decoration: underline;
}
