
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FFFACD;
    background-image: linear-gradient(to bottom, #FFFACD, #FFD700);
}

body {
    background-image: url(elijah-hail-29GUdIWrink-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    width: 100%;
    font-size: 100%;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.mainflexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top {
    padding: 10%;

}

.top h2 {
     color: #fcbe1e;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #fcbe1e;
    font-size: 300%;
    padding: 10px;
    line-height: 50px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 250%;
    padding: 10px;
    line-height: 50px;

}

h3 {
    font-size: 150%;
    padding: 10px;
}



.happiness {
    background-color: white;
    padding: 10px;  
    margin: 7px;
    border: 2px solid rgb(110, 94, 50);
    border-radius: 20px;
    flex-basis: auto;
}

.happiness .whatsapp {
    border: 2px solid rgb(110, 94, 50);
    border-radius: 20px;
    width: 150px;
    color: black;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    padding: 10px;
}

p {
    padding: 10px;
}

.course {
    background-color: white;
    padding: 10px;  
    margin: 7px;
    border: 2px solid rgb(110, 94, 50);
    border-radius: 20px;
}

.larisa {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.photo img {
     border-radius: 20px;
}

.about, .photo {
    padding: 10px;  
    margin: 7px;
}

.write {
 color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.whatsapp, .inst {
    background-repeat: no-repeat;
    padding: 10px;
    margin: 10px;

}

.footer img {
    float: left;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 200%;
}

a:hover {
text-decoration: underline;
}
