
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #FCA26E;
    background-image: linear-gradient(to bottom, #FCA26E, #F57510);
}

body {
    width: 100%;
    font-size: 100%;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #14281F;
}

.mainflexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.top {
    padding: 3%;
}

.top h2 {
     color: #1F4034;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #1F4034;
    font-size: 300%;
    padding: 1%;
    line-height: 50px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 230%;
    line-height: 50px;
    color: #F5751D;
    padding: 1%;
}

h3 {
    font-size: 150%;
    padding: 1%;
}


.whatsapp1 {
    margin: 5%;
}

.whatsapp1 a {
    background-color: #FFD700;
    background-image: -webkit-linear-gradient(top, #FFD700 0%, #FFA500 50%, #FF8C00 50%, #FF4500 100%);
    background-image: -moz-linear-gradient(top, #FFD700 0%, #FFA500 50%, #FF8C00 50%, #FF4500 100%);
    background-image: -o-linear-gradient(top, #FFD700 0%, #FFA500 50%, #FF8C00 50%, #FF4500 100%); 
    background-image: linear-gradient(top, #FFD700 0%, #FFA500 50%, #FF8C00 50%, #FF4500 100%); 
    border: 1px solid #951100;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 200%;
}

ul {
    list-style-position: inside;
    padding: 3%;
    padding-top: 1%; 
    padding-bottom: 1%;
}

ul li {
    list-style-type: none;
}

ul li:before {
    content: counter(item, disc) " ";
    color: #1F4034;
}

p {
    padding: 3%;
}

.happiness, .course {
    background-color: #CCDCDD;
    padding: 3%;  
    margin: 3%;
    border: 2px solid #64817D;
    border-radius: 20px;
}

.larisa {
    display: flex;
    display: webkit-flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #CCDCDD;
    padding: 3%;  
    margin: 3%;
    border: 2px solid #64817D;
    border-radius: 20px;
}

.photo img {
    border-radius: 20px;
    flex: 1 1 350px;
}

.larisa .about{
    padding: 20px;  
    flex: 1 1 400px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.whatsapp, .inst {
    background-repeat: no-repeat;
    padding: 3%;
    margin: 1%;

}

.footer img {
    float: left;
}

a {
    text-decoration: none;
    color: white;
    padding: 3%;
    font-size: 200%;
}

a:hover {
text-decoration: underline;
}

  .slider {
    padding-top: 3%;
    position: relative;
    overflow: hidden;
  }
  .slider__wrapper {
    display: -webkit-flex;
    display: flex;
    transition: transform 0.6s ease; /* 0.6 длительность смены слайда в секундах */
  }
  .slider__item {
    background-color: #CCDCDD;
    margin: 2px;
    padding: 3% 7% 3% 7%;
    line-height: 1.2rem;
    font-size: 90%;
    flex: 0 0 100%;
    max-width: 100%;
  }
 /* СТИЛИ ДЛЯ КНОПОК "НАЗАД" И "ВПЕРЁД" */
  .slider__control {
    position: absolute;
    display: none;  
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px; /* ширина кнопки */
    height: 50px; /* высота кнопки */ 
    opacity: .5; /* прозрачность */
    background: #000; /* цвет фона */
  }
  .slider__control_show {
    display: -webkit-flex;
    display: flex;
  }
  .slider__control:hover,
  .slider__control:focus {
    text-decoration: none;
    outline: 0;
    opacity: .9; /* прозрачность */
  }
  .slider__control_left {
    left: 0;
  }
  .slider__control_right {
    right: 0;
  }
  .slider__control::before {
    content: '';
    display: inline-block;
    width: 20px; /* ширина иконки (стрелочки) */
    height: 20px; /* высота иконки (стрелочки) */
    background: transparent no-repeat center center;
    background-size: 100% 100%;
  }
  .slider__control_left::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  }
  .slider__control_right::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  }

.slider__item img {
    float: right;
    border-radius: 20px;
    margin-left: 3%;
}
